@model Producto

@{
    ViewData["Title"] = "Silo Manager";
}

<h2>Edición del Producto @Model.ProductoId</h2>

<form method="POST">
    <div class="form-group">
        <label asp-for="VcProdName" class="form-control">Nombre del Producto</label>
        <input type="text" asp-for="VcProdName" value="@Model.VcProdName">
    </div>
    <div class="form-group">
        <label asp-for="ProveedorId" class="form-control">Seleccione un Proveedor</label>
        @Html.DropDownList("ProveedorId",new SelectList(@ViewBag.Proveedores,"Text","Value"))
    </div>
    <div class="form-group">
        <label asp-for="MarcaId" class="form-control">Seleccione una Marca</label>
        @Html.DropDownList("MarcaId",new SelectList(@ViewBag.Marcas,"Text","Value"))
    </div>
    <div class="form-group">
        <label asp-for="FlUnitAmount" class="form-control">Precio unitario</label>
        <input type="text" asp-for="FlUnitAmount" value="@Model.FlUnitAmount">
    </div>
    <div class="form-group">
        <label asp-for="FlLoteAmount" class="form-control">Precio mayoreo</label>
        <input type="text" asp-for="FlLoteAmount" value="@Model.FlLoteAmount">
    </div>
    <div class="form-group">
        <label asp-for="IntCantLote" class="form-control">Unidades para mayoreo</label>
        <input type="text" asp-for="IntCantLote" value="@Model.IntCantLote">
    </div>
    <div class="form-group">
        <label asp-for="VcProdStatus" class="form-control">Estatus</label>
        <input type="text" asp-for="VcProdStatus" value="@Model.VcProdStatus">
    </div>
    <input type="submit"/>
</form>